.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 21rem;
  height: 100%;
  background-color: lightcyan;
  box-shadow: 2px 2px 50px rgb(200, 200, 200);
  overflow: scroll;
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.5s ease;
  h2 {
    padding: 2.2rem;
  }
  @media screen and (max-width: 380px) {
    width: 80vw;
  }
}

.library-songs {
  display: flex;
  flex-direction: column;
  align-items: center;
  :hover {
    background-color: rgb(113, 189, 240);
    border-radius: 20px;
  }
  :hover.library-song .play_icon {
    display: block;
    background-color: transparent;
  }
}

.selected {
  background-color: rgb(233, 173, 173);
  border-radius: 20px;
}

.library-song {
  display: flex;
  align-items: center;
  position: relative;

  img {
    width: 15vh;
    @media screen and (max-width: 380px) {
      width: 30vw;
    }
    padding: 1rem;
    border-radius: 15%;
  }
  .song-dis {
    position: relative;
    color: rgb(92, 92, 92);
    padding: 1rem;
    h3 {
      font-size: 1rem;
      @media screen and (max-width: 380px) {
        font-size: 0.9rem;
      }
    }
    h4 {
      font-size: 0.7rem;
      font-weight: 400;
      @media screen and (max-width: 380px) {
        font-size: 0.7rem;
      }
    }
    .play_icon {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 0;
      color: white;
      border-radius: 50%;
      display: none;
    }
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

.libraryActive {
  opacity: 1;
  transform: translateX(0%);
}
