nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding:5px 2px;
  button {
    z-index: 900;
    font-family: "Nunito", sans-serif;
    background: transparent;
    padding: 10px;
    border: 3px solid rgb(65, 65, 65);
    border-radius: 4px;
    transition: all 0.3s ease;
    &:hover {
      background-color: rgb(65, 65, 65);
      color: white;
    }
  }
  @media screen and (max-width: 580px) {
    justify-content: space-between;
  }
  @media screen and (max-width: 450px) {
    width: 99%;
  }
}
