* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Lato", sans-serif;
  cursor: none;
  @media screen and (max-width: 900px) {
    cursor: auto;
  }
}

@import "./player";
@import "./song";
@import "./library";
@import "./nav";
